
.menu_image {width: 100%;border-top-left-radius: 20px;border-top-right-radius: 20px;}

.show_card {border-radius: 20px !important;border: 1px solid #ddd;margin: auto;width: 98%;}

.order_button {width: 80%;}
